<a href="https://colab.research.google.com/github/botkin92/Python_Libraries_for_Data_Science/blob/lesson_6/lesson_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**Тема “Обучение с учителем”**

####**Задание 1**
Импортируйте библиотеки pandas и numpy.

Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [25]:
import pandas as pd
import numpy as np

In [26]:
from sklearn.datasets import load_boston
boston = load_boston()
# print(boston["DESCR"])

In [27]:
X = pd.DataFrame(boston["data"], columns=boston["feature_names"])
y = pd.DataFrame(boston["target"], columns=["price"])
X.head(), y.head()

(      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
 0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
 1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
 2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
 3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
 4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

 [5 rows x 13 columns],    price
 0   24.0
 1   21.6
 2   34.7
 3   33.4
 4   36.2)

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [29]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [30]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
y_pred = lr.predict(X_test)
y_pred[:10]

array([[28.64896005],
       [36.49501384],
       [15.4111932 ],
       [25.40321303],
       [18.85527988],
       [23.14668944],
       [17.3921241 ],
       [14.07859899],
       [23.03692679],
       [20.59943345]])

In [32]:
from sklearn.metrics import r2_score
lr_r2 = r2_score(y_test, y_pred)
print(lr_r2)

0.7112260057484974

####**Задание 2**
Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble. Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.

Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [33]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100, max_depth=12, random_state=42)

In [34]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=12, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [35]:
y_pred = model.predict(X_test)

In [36]:
model_r2 = r2_score(y_test, y_pred)
print("model_r2 -", model_r2, "\n", "lr_r2 -", lr_r2)

model_r2 - 0.8691643189868505
 lr_r2 - 0.7112260057484974

Модель случайного леса наибоее точно воспроизводит целевую функцию, т.к. R^2 ближе к 1.

####***Задание 3**
Вызовите документацию для класса RandomForestRegressor,
найдите информацию об атрибуте feature_importances_.
С помощью этого атрибута найдите сумму всех показателей важности,
установите, какие два признака показывают наибольшую важность.

In [37]:
?RandomForestRegressor

In [38]:
feature_importance = pd.DataFrame({"feature_importances":model.feature_importances_, "feature_names":X.columns})
feature_importance

    feature_importances feature_names
0              0.031779          CRIM
1              0.001582            ZN
2              0.006463         INDUS
3              0.001716          CHAS
4              0.011979           NOX
5              0.439729            RM
6              0.011605           AGE
7              0.066025           DIS
8              0.005049           RAD
9              0.011670           TAX
10             0.020627       PTRATIO
11             0.011515             B
12             0.380262         LSTAT

In [39]:
total = feature_importance["feature_importances"].sum()
total

1.0

In [40]:
feature_importance.nlargest(2, "feature_importances") # признаки с наибольшим значением feature_importance

    feature_importances feature_names
5              0.439729            RM
12             0.380262         LSTAT